:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary: #070606;
}

section.freelancer{
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 75%, 0 100%);
    padding-bottom: 12rem;
}

section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}

.btn{
    padding:0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary{
    background: var(--ternary);
    color: var(--secondary);
}

.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--dark);
}